.AnimationScreen{
    position: absolute;
    display: block;
    color: #000000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    transition: 1s;
    --animation: 5s linear forwards;

}
.hide{
    opacity: 0;
}
.close{
    display: none;
}

/*animation elements*/
.logo{
    position: absolute;
    top: 10px;
    left: 39px;
    clip-path: inset(0%); /*анимируемое свойство*/
    opacity: 0;
    z-index: 120;
    animation: logo var(--animation);
}
@keyframes logo {
    0%{opacity: 0;}
    16.7%{opacity: 1;}
    33.4%{opacity: 1;}
    50.1%{opacity: 1;}
    66.8%{opacity: 1;}
    83.5%{opacity: 1;}
    100%{opacity: 1;}
}
.box1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 41%;
    background-color: #343434;
    /*box-shadow: 1px 1px 3px 0px #c3c2c2;*/
    transform: translate(87%, 10%); /*анимируемое свойство начинаем с -100% 0%*/
    z-index: 104;
    animation: box1 var(--animation);
}
@keyframes box1 {
    0%,16.7%{transform: translate(-100%, 10%);}
    33.4%, 50.1%{transform: translate(87%, 10%);}
    66.8%, 83.5%, 100%{transform: translate(87%, 110%);}
}
.box2{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 45%;
    background-color: #e0e0e0;
    /*box-shadow: 1px 1px 3px 0px #c3c2c2;*/
    transform: translate(0%, 0%);
    z-index: 103;
    animation: box2 var(--animation);
}
@keyframes box2 {
    0%,16.7%{transform: translate(0%, -101%);}
    33.4%, 50.1%{transform: translate(0%, 0%);}
    66.8%, 83.5%, 100%{transform: translate(-101%, 0%);}
}
.box3{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 25%;
    background-color: #e5e5e5;
    /*box-shadow: 1px 1px 3px 0px #c3c2c2;*/
    transform: translate(59%, 168%);
    z-index: 102;
    animation: box3 var(--animation);
}
@keyframes box3 {
    0%,16.7%{transform: translate(601%, 168%);}
    33.4%, 50.1%{transform: translate(59%, 168%);}
    66.8%, 83.5%, 100%{transform: translate(-101%, 168%);}
}
.box4{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 19%;
    height: 60%;
    background-color: #353535;
    /*box-shadow: 1px 1px 3px 0px #c3c2c2;*/
    transform: translate(0%, 0%);
    z-index: 105;
    animation: box4 var(--animation);
}
@keyframes box4 {
    0%,16.7%{transform:translate(0%, 110%);}
    33.4%, 50.1%{transform:translate(0%, 0%);}
    66.8%, 83.5%, 100%{transform:translate(0%, -210%);}
}
.box5{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 39%;
    height: 12%;
    background-color: #ccc;
    /*box-shadow: 1px 1px 3px 0px #c3c2c2;*/
    transform: translate(0%, 0%);
    clip-path: inset(0%);
    z-index: 106;
    animation: box5 var(--animation);
}
@keyframes box5 {
    0%,16.7%{transform: translate(110%, 0%);clip-path: inset(0% 0%);}
    33.4%, 50.1%{transform: translate(0%, 0%);clip-path: inset(0% 0%);}
    66.8%, 83.5%, 100%{transform: translate(0%, 0%);clip-path: inset(0% 50%);}
}
.title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    clip-path: inset(2% 0% -40% 0%); /*анимируемое свойство*/
    z-index: 118;
    animation: title var(--animation);
}
@keyframes title {
    0%, 16.7%, 33.4%, 50.1%{clip-path: inset(50% 0% 50% 0%);}
    66.8%, 83.5%, 100%{clip-path: inset(0% 0% -40% 0%);}
}
.line{
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #9d845d;
    clip-path: inset(0% 95% 0% 0%); /*анимируемое свойство*/
    z-index: 117;
    animation: line-title var(--animation);
}
@keyframes line-title {
    0%, 16.7%, 33.4%, 50.1%, 66.8%{clip-path: inset(0% 100% 0% 0%)}
    83.5%, 100%{clip-path: inset(0% 0% 0% 0%)}
}

@media screen and (max-width: 480px){
    .title{
        font-size: 1rem;
    }
    .box1{
        width: 60%;
        height: 31%;
    }
    .box2{
        width: 30%;
        height: 45%;
    }
    .box3{
        width: 40%;
        height: 25%;
    }
    .box4{
        width: 19%;
        height: 60%;
    }
    .box5{
        width: 69%;
        height: 12%;
    }
    .line{
        bottom: -5px;
    }
}